#about.my-4
  h1.wow.fadeIn.trigger Welcome to my website
  p I'm Simon Brain a freelance front-end web designer &amp; developer based in Evesham Worcestershire.
  p I am passionate about building websites and coding, alwasys learning the latest programming languages.
  a(href="https://www.facebook.com/simonrbrain/")
    i.fab.fa-facebook-square.p-3
  a(href="https://www.instagram.com/brasim/")
    i.fab.fa-instagram.p-3
  a(href="https://twitter.com/bypassnurseries")
    i.fab.fa-twitter-square.p-3 
