#carousel.carousel.slide.carousel-fade(data-ride="carousel")
  .carousel-inner
    .head-logo
      h1.wow.fadeIn(data-wow-delay="500ms") Simon Brain
      h2.wow.fadeInDown(data-wow-delay="1300ms")  Web Design
    .carousel-item.active
      img(src="img/1.jpg", alt="").d-block.w-100
    .carousel-item
      img.d-block.w-100(src="img/6.jpg", alt="")
    .carousel-item
      img.d-block.w-100(src="img/2.jpg", alt="")