form(action="", method="post" class="")
  .form-group
    label(for="name") Full Name 
    input(type="text" name="name" id="name" class="form-control" onblur="nameCheck()")
    i.fas.fa-check-circle.hide#success
    i.fas.fa-exclamation-circle.hide#err
    small#message
  .form-group
    label(for="email") Email
    input(type="text" name="email" class="form-control")
    i.fas.fa-check-circle.hide 
    i.fas.fa-exclamation-circle.hide
    small
  .form-group 
    button(disabled).btn.btn-success#send Send