hr
footer
    .container-outer
        .container
            .row
                .col-md-6
                    a.d-shadow(href="#" data-toggle="modal" data-target="#share")
                        button.btn.btn-success.d-shadow
                            span.fa.fa-share-alt  Share
                .col-md-6
            .row
                .col.d-flex.justify-content-end.align-items-end
                    #copy.text-white
.modal.fade#share(role="dialog")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", title="close") &times;
                h4.modal-title
                    span.fa.fa-share-alt  Share
            .modal-body
                a(href="mailto:?subject=Please see this website&body=Check out this website http://www." class="btn btn-block" style="background-color:#deac33; color:#ffffff;")
                    span.fa.fa-envelope-o  Email
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Close
#cookies
    .container
        .row
            .col-lg-10
                p This site uses cookies to personalize your experience, analyze site usage, and offer tailored promotions. #[a(href="http://www.youronlinechoices.com/uk/") Your Online Choices]
            .col-lg-2
                button#cookie.btn.btn-success.d-shadow I ACCEPT
// JQuery js
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
// Bootstrap js
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
// Materalize js
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
// Wow js
script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
// Main js
script(src="js/main.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxCHZFzeZFtLPEVQ7wOP2bb6PbtdNxb8g&callback=myMap")