.cards
	padding: 1rem
	//min-height: 250px
	.cards-inner
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		height: 100%
		width: 100%
		background: linear-gradient(-8deg, lighten($forthcol, 25%) 0%, $forthcol 100%)
		&:hover
			span
				animation-name: wobble
				animation-duration: 1s
	span
		font-size: 2rem
		color: #fff
		padding: 1rem 0
		text-shadow: 0 2px 2px #000
		@media(min-width: 975px)
			font-size: 4rem
			padding: 2rem 0
	p 
		color: #fff
		font-size: 1.2rem
		text-shadow: 0 2px 2px #000
		@media(min-width: 975px)
			font-size: 2rem
#about
	a
		i
			color: #222
#skills
	i.fas
		margin: -40px 0 10px 15px
	p 
		font-family: $mainFont
		font-size: 2rem
		font-weight: 400
		margin-left: 60px
		margin-bottom: -30px
	i.fab
		&:hover
			animation-name: tada
			animation-duration: 1s
#contact
	background: url('../img/5.jpg') no-repeat
	background-size: cover
	background-attachment: fixed
	background-position: 50% 50%
	.container-outer
		min-height: 200px
		position: relative
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 9
		background: rgba(0,0,0,0.7)
		.container
			padding-bottom: 2rem
			color: #fff
			.btn
				padding: .5em 1em
				font-size: 2rem
				letter-spacing: 0.15em
				width: 75vw
				box-shadow: 0 20px 6px -15px #000
				text-shadow: 0 .05em .05em #000
				transition: all ease-in-out 300ms
				border: 0
				&:hover
					transform: translateY(3px)
					box-shadow: 0 10px 6px -7px #000
					p
						animation-name: tada
						animation-duration: 1s
				p
					padding: 0
					margin: 0
			.btn-success
				background: linear-gradient(-8deg, lighten($forthcol, 25%) 0%, $forthcol 100%)
				border: 0

#googleMap
	height: 300px
	width: 100%
	margin: 0
	padding: 0
	@media(min-width: 975px) 
		height: 400px