<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title H o m e
    body#top
        .home-nav
            a(href="#top")
                span.fas.fa-arrow-up
        include includes/nav
        include includes/carousel
        hr
        .container
            .row
                .col.col-lg-4.cards.wow.fadeInLeft(data-wow-delay="300ms")
                    .cards-inner.d-shadow
                        span.fas.fa-paint-roller.fa-x3
                        p Tailored To Your Needs
                .col.col-lg-4.cards.wow.fadeIn(data-wow-delay="1000ms")
                    .cards-inner.d-shadow
                        span.fas.fa-pencil-ruler
                        p Pixel Perfect Code
                .col-lg-4.cards.wow.fadeInRight(data-wow-delay="300ms")
                    .cards-inner.d-shadow
                        span.far.fa-heart
                        p Built With Love
            h1.wow.fadeIn.trigger Welcome to my website
            p I'm Simon Brain a freelance front-end web designer &amp; developer based in Evesham Worcestershire.
            p I am passionate about building websites and coding, alwasys learning the latest programming languages.
        hr
        #contact
            .container-outer
                .container
                    .row
                        .col
                            h1.m-3 Contact
                    .row.d-flex.align-items-center.flex-column
                        a.btn.btn-success.wow.flipInX(href="mailto:simonrbrain@yahoo.co.uk" data-wow-offset="100" data-wow-delay="300ms")
                            p Message Me....
                        br
                        a.btn.btn-success.wow.flipInX(href="tel:00000" data-wow-offset="100", data-wow-delay="400ms")
                            p Call Me....
        hr
        #googleMap.wow.fadeIn(data-wow-offset="100")
        include includes/footer