<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title H o m e
    body
        - const page = 'home';
        include includes/nav
        include includes/carousel
        hr
        .container
            .row
                .col-md-6.col-lg-4.cards.wow.fadeInLeft(data-wow-delay="300ms")
                    .cards-inner.d-shadow
                        span.fas.fa-paint-roller.fa-x3
                        p Tailored To Your Needs
                .col-md-6.col-lg-4.cards.wow.fadeIn(data-wow-delay="1000ms")
                    .cards-inner.d-shadow
                        span.fas.fa-pencil-ruler
                        p Pixel Perfect Code
                .col-lg-4.cards.wow.fadeInRight(data-wow-delay="300ms")
                    .cards-inner.d-shadow
                        span.far.fa-heart
                        p Built With Love
            h1.wow.fadeIn Welcome to my website
            p I'm Simon Brain a freelance front-end web designer &amp; developer based in Evesham Worcestershire.
            p I am passionate about building websites and coding, alwasys learning the latest programming languages.
        
        include includes/footer