<!DOCTYPE html>
html(lang="en")
	head
		include includes/head
		title S R Brain - Mobile Web Design, Apps & Graphic Design 
	body#top
		.home-nav
			a(href="#top")
				span.fas.fa-arrow-up
		include includes/nav
		include includes/carousel
		hr
		.container
			.row
				.col.col-lg-4.cards.wow.fadeInLeft(data-wow-delay="300ms")
					.cards-inner.d-shadow
						span.fas.fa-paint-roller.fa-x3
						p Tailored To Your Needs
				.col.col-lg-4.cards.wow.fadeIn(data-wow-delay="1000ms")
					.cards-inner.d-shadow
						span.fas.fa-pencil-ruler
						p Pixel Perfect Code
				.col-lg-4.cards.wow.fadeInRight(data-wow-delay="300ms")
					.cards-inner.d-shadow
						span.far.fa-heart
						p Built With Love
			include includes/about
		hr
		include includes/skills
		hr
		include includes/contact
		hr
		#googleMap.wow.fadeIn(data-wow-offset="100")
		include includes/footer