<!DOCTYPE html>
html(lang="en")
	head
		include includes/head
		title S R Brain - Mobile Web Design, Apps & Graphic Design 
	body#top
		.home-nav
			a(href="#top")
				span.fas.fa-arrow-up
		include includes/nav
		include includes/carousel
		hr
		.container
			.row
				.col-6.col-lg-4.cards.wow.fadeInLeft(data-wow-delay="300ms")
					.cards-inner.d-shadow
						span.fas.fa-paint-roller.fa-x3
						p Tailored To Your Needs
				.col.order-1.col-lg-4.order-lg-0.cards.wow.fadeIn(data-wow-delay="1000ms")
					.cards-inner.d-shadow
						span.fas.fa-pencil-ruler
						p Pixel Perfect Code
				.col-6.col-lg-4.cards.wow.fadeInRight(data-wow-delay="300ms")
					.cards-inner.d-shadow
						span.far.fa-heart
						p Built With Love
			include includes/about
		hr
		include includes/skills
		hr
		include includes/contact
		hr
		#googleMap.wow.fadeIn(data-wow-offset="100")
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19274.599042827365!2d-1.9172248499999995!3d52.1013904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870dddb536f3d6f%3A0x7af55dedaa5b606!2zNTLCsDA2JzA0LjMiTiAxwrA1NScyMi43Ilc!5e1!3m2!1sen!2suk!4v1651666628568!5m2!1sen!2suk" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		include includes/footer