<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title H o m e
    body
        - const page = 'home';
        include includes/nav
        include includes/carousel
        hr
        .container
            h1.wow.fadeIn Welcome to my website
            p I'm Simon Brain a freelance front-end web designer &amp; developer based in Evesham Worcestershire.
        
        include includes/footer