<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title S R Brain - Web Design
    body#top
        .home-nav
            a(href="#top")
                span.fas.fa-arrow-up
        include includes/nav
        include includes/carousel
        hr
        .container
            .row
                .col.col-lg-4.cards.wow.fadeInLeft(data-wow-delay="300ms")
                    .cards-inner.d-shadow
                        span.fas.fa-paint-roller.fa-x3
                        p Tailored To Your Needs
                .col.col-lg-4.cards.wow.fadeIn(data-wow-delay="1000ms")
                    .cards-inner.d-shadow
                        span.fas.fa-pencil-ruler
                        p Pixel Perfect Code
                .col-lg-4.cards.wow.fadeInRight(data-wow-delay="300ms")
                    .cards-inner.d-shadow
                        span.far.fa-heart
                        p Built With Love
            #about.my-4
                h1.wow.fadeIn.trigger Welcome to my website
                p I'm Simon Brain a freelance front-end web designer &amp; developer based in Evesham Worcestershire.
                p I am passionate about building websites and coding, alwasys learning the latest programming languages.
                a(href="https://www.facebook.com/simonrbrain/")
                    i.fab.fa-facebook-square.p-3
                a(href="https://www.instagram.com/brasim/")
                    i.fab.fa-instagram.p-3
                a(href="https://twitter.com/bypassnurseries")
                    i.fab.fa-twitter-square.p-3 
        hr
        .container 
            #skills.my-4
                h1.wow.fadeIn Skills 
                h3.wow.fadeInDown(data-wow-delay="300ms") PROGRAMMING LANGUAGES & TOOLS
                .toolIcons.d-flex.flex-row.justify-content-around.flex-wrap.mx-3
                    i.fab.fa-html5.fa-3x.p-2
                    i.fab.fa-php.fa-3x.p-2
                    i.fab.fa-css3.fa-3x.p-2
                    i.fab.fa-js.fa-3x.p-2 
                    i.fab.fa-node-js.fa-3x.p-2
                    i.fab.fa-sass.fa-3x.p-2 
                    i.fab.fa-less.fa-3x.p-2
                    i.fab.fa-bootstrap.fa-3x.p-2 
                    i.fab.fa-wordpress.fa-3x.p-2 
                    i.fab.fa-npm.fa-3x.p-2 
                    i.fab.fa-gulp.fa-3x.p-2 
                    i.fab.fa-git.fa-3x.p-2 
                    i.fab.fa-git-alt.fa-3x.p-2
                h3.wow.fadeInDown(data-wow-delay="300ms") WORKFLOW
        hr
        #contact
            .container-outer
                .container
                    .row
                        .col
                            h1.m-3 Contact
                    .row.d-flex.align-items-center.flex-column
                        a.btn.btn-success.wow.flipInX(href="mailto:simonrbrain@yahoo.co.uk" data-wow-offset="100" data-wow-delay="300ms")
                            p Message Me....
                        br
                        a.btn.btn-success.wow.flipInX(href="tel:00000" data-wow-offset="100", data-wow-delay="400ms")
                            p Call Me....
        hr
        #googleMap.wow.fadeIn(data-wow-offset="100")
        include includes/footer